html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
}

main {
    display: block;
}

ol,
ul {
    list-style: none;
}

b,
strong {
    font-weight: bolder;
    /* font-family: "GothamPro-Black", sans-serif; */
}

*,
:after,
:before {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    border-style: none;
}

a {
    color: inherit;
    cursor: pointer;
    /* background-color: transparent; */
    text-decoration: none;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

a:hover,
a:focus {
    text-decoration: none;
}

input,
select,
textarea,
button {
    border: none;
    outline: none;
    border-radius: 0;
    -webkit-appearance: none;
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

textarea {
    resize: vertical;
    overflow: auto;
}

::-ms-clear {
    display: none;
}

input {
    overflow: visible;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

select::-ms-expand {
    display: none;
}

/*STYLE RESET START*/
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: #363636;
    font: normal 14px 'Helvetica Neue', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

a,
a:hover,
a:focus {
    color: #4A96D2;
    text-decoration: none;
}

img {
    max-width: 100%;
}

textarea {
    width: 100%;
    resize: vertical;
    border: none;
    outline: none;
    border-radius: 0;
}

label {
    margin: 0;
}

input,
button,
select {
    border: none;
    outline: none;
}

input {
    border-radius: 0;
}

button {
    cursor: pointer;
}

html,body{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
}

.content{
    flex: 1;
}


/* select2 */

.select2-container{box-sizing:border-box;display:inline-block;margin:0;position:relative;vertical-align:middle}.select2-container .select2-selection--single{box-sizing:border-box;cursor:pointer;display:block;height:28px;user-select:none;-webkit-user-select:none}.select2-container .select2-selection--single .select2-selection__rendered{display:block;padding-left:8px;padding-right:20px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.select2-container .select2-selection--single .select2-selection__clear{position:relative}.select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered{padding-right:8px;padding-left:20px}.select2-container .select2-selection--multiple{box-sizing:border-box;cursor:pointer;display:block;min-height:32px;user-select:none;-webkit-user-select:none}.select2-container .select2-selection--multiple .select2-selection__rendered{display:inline-block;overflow:hidden;padding-left:8px;text-overflow:ellipsis;white-space:nowrap}.select2-container .select2-search--inline{float:left}.select2-container .select2-search--inline .select2-search__field{box-sizing:border-box;border:none;font-size:100%;margin-top:5px;padding:0}.select2-container .select2-search--inline .select2-search__field::-webkit-search-cancel-button{-webkit-appearance:none}.select2-dropdown{background-color:white;border:1px solid #aaa;border-radius:4px;box-sizing:border-box;display:block;position:absolute;left:-100000px;width:100%;z-index:1051}.select2-results{display:block}.select2-results__options{list-style:none;margin:0;padding:0}.select2-results__option{padding:6px;user-select:none;-webkit-user-select:none}.select2-results__option[aria-selected]{cursor:pointer}.select2-container--open .select2-dropdown{left:0}.select2-container--open .select2-dropdown--above{border-bottom:none;border-bottom-left-radius:0;border-bottom-right-radius:0}.select2-container--open .select2-dropdown--below{border-top:none;border-top-left-radius:0;border-top-right-radius:0}.select2-search--dropdown{display:block;padding:4px}.select2-search--dropdown .select2-search__field{padding:4px;width:100%;box-sizing:border-box}.select2-search--dropdown .select2-search__field::-webkit-search-cancel-button{-webkit-appearance:none}.select2-search--dropdown.select2-search--hide{display:none}.select2-close-mask{border:0;margin:0;padding:0;display:block;position:fixed;left:0;top:0;min-height:100%;min-width:100%;height:auto;width:auto;opacity:0;z-index:99;background-color:#fff;filter:alpha(opacity=0)}.select2-hidden-accessible{border:0 !important;clip:rect(0 0 0 0) !important;-webkit-clip-path:inset(50%) !important;clip-path:inset(50%) !important;height:1px !important;overflow:hidden !important;padding:0 !important;position:absolute !important;width:1px !important;white-space:nowrap !important}.select2-container--default .select2-selection--single{background-color:#fff;border:1px solid #aaa;border-radius:4px}.select2-container--default .select2-selection--single .select2-selection__rendered{color:#444;line-height:28px}.select2-container--default .select2-selection--single .select2-selection__clear{cursor:pointer;float:right;font-weight:bold}.select2-container--default .select2-selection--single .select2-selection__placeholder{color:#999}.select2-container--default .select2-selection--single .select2-selection__arrow{height:26px;position:absolute;top:1px;right:1px;width:20px}.select2-container--default .select2-selection--single .select2-selection__arrow b{border-color:#888 transparent transparent transparent;border-style:solid;border-width:5px 4px 0 4px;height:0;left:50%;margin-left:-4px;margin-top:-2px;position:absolute;top:50%;width:0}.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__clear{float:left}.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow{left:1px;right:auto}.select2-container--default.select2-container--disabled .select2-selection--single{background-color:#eee;cursor:default}.select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__clear{display:none}.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{border-color:transparent transparent #888 transparent;border-width:0 4px 5px 4px}.select2-container--default .select2-selection--multiple{background-color:white;border:1px solid #aaa;border-radius:4px;cursor:text}.select2-container--default .select2-selection--multiple .select2-selection__rendered{box-sizing:border-box;list-style:none;margin:0;padding:0 5px;width:100%}.select2-container--default .select2-selection--multiple .select2-selection__rendered li{list-style:none}.select2-container--default .select2-selection--multiple .select2-selection__clear{cursor:pointer;float:right;font-weight:bold;margin-top:5px;margin-right:10px;padding:1px}.select2-container--default .select2-selection--multiple .select2-selection__choice{background-color:#e4e4e4;border:1px solid #aaa;border-radius:4px;cursor:default;float:left;margin-right:5px;margin-top:5px;padding:0 5px}.select2-container--default .select2-selection--multiple .select2-selection__choice__remove{color:#999;cursor:pointer;display:inline-block;font-weight:bold;margin-right:2px}.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover{color:#333}.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice,.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-search--inline{float:right}.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice{margin-left:5px;margin-right:auto}.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove{margin-left:2px;margin-right:auto}.select2-container--default.select2-container--focus .select2-selection--multiple{border:solid black 1px;outline:0}.select2-container--default.select2-container--disabled .select2-selection--multiple{background-color:#eee;cursor:default}.select2-container--default.select2-container--disabled .select2-selection__choice__remove{display:none}.select2-container--default.select2-container--open.select2-container--above .select2-selection--single,.select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple{border-top-left-radius:0;border-top-right-radius:0}.select2-container--default.select2-container--open.select2-container--below .select2-selection--single,.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple{border-bottom-left-radius:0;border-bottom-right-radius:0}.select2-container--default .select2-search--dropdown .select2-search__field{border:1px solid #aaa}.select2-container--default .select2-search--inline .select2-search__field{background:transparent;border:none;outline:0;box-shadow:none;-webkit-appearance:textfield}.select2-container--default .select2-results>.select2-results__options{max-height:200px;overflow-y:auto}.select2-container--default .select2-results__option[role=group]{padding:0}.select2-container--default .select2-results__option[aria-disabled=true]{color:#999}.select2-container--default .select2-results__option[aria-selected=true]{background-color:#ddd}.select2-container--default .select2-results__option .select2-results__option{padding-left:1em}.select2-container--default .select2-results__option .select2-results__option .select2-results__group{padding-left:0}.select2-container--default .select2-results__option .select2-results__option .select2-results__option{margin-left:-1em;padding-left:2em}.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option{margin-left:-2em;padding-left:3em}.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option{margin-left:-3em;padding-left:4em}.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option{margin-left:-4em;padding-left:5em}.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option{margin-left:-5em;padding-left:6em}.select2-container--default .select2-results__option--highlighted[aria-selected]{background-color:#5897fb;color:white}.select2-container--default .select2-results__group{cursor:default;display:block;padding:6px}.select2-container--classic .select2-selection--single{background-color:#f7f7f7;border:1px solid #aaa;border-radius:4px;outline:0;background-image:-webkit-linear-gradient(top, #fff 50%, #eee 100%);background-image:-o-linear-gradient(top, #fff 50%, #eee 100%);background-image:linear-gradient(to bottom, #fff 50%, #eee 100%);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0)}.select2-container--classic .select2-selection--single:focus{border:1px solid #5897fb}.select2-container--classic .select2-selection--single .select2-selection__rendered{color:#444;line-height:28px}.select2-container--classic .select2-selection--single .select2-selection__clear{cursor:pointer;float:right;font-weight:bold;margin-right:10px}.select2-container--classic .select2-selection--single .select2-selection__placeholder{color:#999}.select2-container--classic .select2-selection--single .select2-selection__arrow{background-color:#ddd;border:none;border-left:1px solid #aaa;border-top-right-radius:4px;border-bottom-right-radius:4px;height:26px;position:absolute;top:1px;right:1px;width:20px;background-image:-webkit-linear-gradient(top, #eee 50%, #ccc 100%);background-image:-o-linear-gradient(top, #eee 50%, #ccc 100%);background-image:linear-gradient(to bottom, #eee 50%, #ccc 100%);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFCCCCCC', GradientType=0)}.select2-container--classic .select2-selection--single .select2-selection__arrow b{border-color:#888 transparent transparent transparent;border-style:solid;border-width:5px 4px 0 4px;height:0;left:50%;margin-left:-4px;margin-top:-2px;position:absolute;top:50%;width:0}.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__clear{float:left}.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__arrow{border:none;border-right:1px solid #aaa;border-radius:0;border-top-left-radius:4px;border-bottom-left-radius:4px;left:1px;right:auto}.select2-container--classic.select2-container--open .select2-selection--single{border:1px solid #5897fb}.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow{background:transparent;border:none}.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow b{border-color:transparent transparent #888 transparent;border-width:0 4px 5px 4px}.select2-container--classic.select2-container--open.select2-container--above .select2-selection--single{border-top:none;border-top-left-radius:0;border-top-right-radius:0;background-image:-webkit-linear-gradient(top, #fff 0%, #eee 50%);background-image:-o-linear-gradient(top, #fff 0%, #eee 50%);background-image:linear-gradient(to bottom, #fff 0%, #eee 50%);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0)}.select2-container--classic.select2-container--open.select2-container--below .select2-selection--single{border-bottom:none;border-bottom-left-radius:0;border-bottom-right-radius:0;background-image:-webkit-linear-gradient(top, #eee 50%, #fff 100%);background-image:-o-linear-gradient(top, #eee 50%, #fff 100%);background-image:linear-gradient(to bottom, #eee 50%, #fff 100%);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFFFFFFF', GradientType=0)}.select2-container--classic .select2-selection--multiple{background-color:white;border:1px solid #aaa;border-radius:4px;cursor:text;outline:0}.select2-container--classic .select2-selection--multiple:focus{border:1px solid #5897fb}.select2-container--classic .select2-selection--multiple .select2-selection__rendered{list-style:none;margin:0;padding:0 5px}.select2-container--classic .select2-selection--multiple .select2-selection__clear{display:none}.select2-container--classic .select2-selection--multiple .select2-selection__choice{background-color:#e4e4e4;border:1px solid #aaa;border-radius:4px;cursor:default;float:left;margin-right:5px;margin-top:5px;padding:0 5px}.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove{color:#888;cursor:pointer;display:inline-block;font-weight:bold;margin-right:2px}.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove:hover{color:#555}.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice{float:right;margin-left:5px;margin-right:auto}.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove{margin-left:2px;margin-right:auto}.select2-container--classic.select2-container--open .select2-selection--multiple{border:1px solid #5897fb}.select2-container--classic.select2-container--open.select2-container--above .select2-selection--multiple{border-top:none;border-top-left-radius:0;border-top-right-radius:0}.select2-container--classic.select2-container--open.select2-container--below .select2-selection--multiple{border-bottom:none;border-bottom-left-radius:0;border-bottom-right-radius:0}.select2-container--classic .select2-search--dropdown .select2-search__field{border:1px solid #aaa;outline:0}.select2-container--classic .select2-search--inline .select2-search__field{outline:0;box-shadow:none}.select2-container--classic .select2-dropdown{background-color:#fff;border:1px solid transparent}.select2-container--classic .select2-dropdown--above{border-bottom:none}.select2-container--classic .select2-dropdown--below{border-top:none}.select2-container--classic .select2-results>.select2-results__options{max-height:200px;overflow-y:auto}.select2-container--classic .select2-results__option[role=group]{padding:0}.select2-container--classic .select2-results__option[aria-disabled=true]{color:grey}.select2-container--classic .select2-results__option--highlighted[aria-selected]{background-color:#3875d7;color:#fff}.select2-container--classic .select2-results__group{cursor:default;display:block;padding:6px}.select2-container--classic.select2-container--open .select2-dropdown{border-color:#5897fb}


/*SCROLL ---------------------- */
body .scroll-element,
body .scroll-element div {
  border: none;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 5;
}

body .scroll-element div {
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

body .scroll-element.scroll-x {
  bottom: 1px;
  height: 8px;
  left: 0;
  width: 100%;
}

.collection-list.scroll-wrapper > .scroll-content {
  padding-bottom: 10px;
}

body .collection-list .scroll-element.scroll-y {
  display: none;
}

body .scroll-element.scroll-x .scroll-element_track {
  top: 0;
  width: 100%;
  height: 8px;
}

body .scroll-element.scroll-y {
  height: 100%;
  right: 2px;
  top: 0;
  width: 8px;
}

body .scroll-element .scroll-element_outer {
  overflow: visible;
}

body .scroll-element .scroll-element_outer,
body .scroll-element .scroll-element_track,
body .scroll-element .scroll-bar {
  border-radius: 8px;
}

body .scroll-element .scroll-element_track {
  background: rgba(0, 0, 0, 0.4);
  left: 0;
  width: 2px;
}

body .scroll-element .scroll-bar {
  width: 8px;
  background-color: #f49600;
  left: -3px;
  position: relative;
}

body .scroll-element:hover .scroll-bar {
  background-color: #4A96D2;
}

body .scroll-element.scroll-draggable .scroll-bar {
  background-color: #4A96D2;
}

body .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track {
  left: -12px;
}

body .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track {
  top: -12px;
}

body .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size {
  left: -12px;
}

body .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size {
  top: -12px;
}

/**/





@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/HelveticaNeue.eot');
    src: url('../fonts/HelveticaNeue.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeue.woff2') format('woff2'),
        url('../fonts/HelveticaNeue.woff') format('woff'),
        url('../fonts/HelveticaNeue.ttf') format('truetype'),
        url('../fonts/HelveticaNeue.svg#HelveticaNeue') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue LT CYR 57 Cond';
    src: url('../fonts/HelveticaNeueLTCYR-BdCond.eot');
    src: url('../fonts/HelveticaNeueLTCYR-BdCond.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeueLTCYR-BdCond.woff2') format('woff2'),
        url('../fonts/HelveticaNeueLTCYR-BdCond.woff') format('woff'),
        url('../fonts/HelveticaNeueLTCYR-BdCond.ttf') format('truetype'),
        url('../fonts/HelveticaNeueLTCYR-BdCond.svg#HelveticaNeueLTCYR-BdCond') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue LT CYR 57 Cond';
    src: url('../fonts/HelveticaNeueLTCYR-Cond.eot');
    src: url('../fonts/HelveticaNeueLTCYR-Cond.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeueLTCYR-Cond.woff2') format('woff2'),
        url('../fonts/HelveticaNeueLTCYR-Cond.woff') format('woff'),
        url('../fonts/HelveticaNeueLTCYR-Cond.ttf') format('truetype'),
        url('../fonts/HelveticaNeueLTCYR-Cond.svg#HelveticaNeueLTCYR-Cond') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/HelveticaNeueCyr-Bold.eot');
    src: url('../fonts/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeueCyr-Bold.woff2') format('woff2'),
        url('../fonts/HelveticaNeueCyr-Bold.woff') format('woff'),
        url('../fonts/HelveticaNeueCyr-Bold.ttf') format('truetype'),
        url('../fonts/HelveticaNeueCyr-Bold.svg#HelveticaNeueCyr-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/light/HelveticaNeueCyr-Light.eot');
    src: url('../fonts/light/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/light/HelveticaNeueCyr-Light.woff2') format('woff2'),
        url('../fonts/light/HelveticaNeueCyr-Light.woff') format('woff'),
        url('../fonts/light/HelveticaNeueCyr-Light.ttf') format('truetype'),
        url('../fonts/light/HelveticaNeueCyr-Light.svg#HelveticaNeueCyr-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}


.container {
    max-width: calc(1200px + 30px);
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.header_container,
.footer_container{
    max-width: 1332px;
}

.header{
    padding-top: 34px;
    padding-bottom: 34px;
}

.logo{
	width: 100%;
    max-width: 192px;
    height: 100%;
    max-height: 60px;
}

.header__layout{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu,
.header__link {
    font-family: 'HelveticaNeue LT CYR 57 Cond';
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
}

.menu__link,
.header__link{
    color: rgba(54, 54, 54, 0.55);
}

.menu__ul > li:first-child .menu__link{
    color: #363636;
}

.menu__link:hover,
.header__link:hover,
.menu__link.active {
    color: #4A96D2;
    text-decoration: underline;
}

.menu__ul{
    display: flex;
}


.menu__ul > li{
    margin-right: 24px;
}

.header__right{
    display: flex;
}

.header__link{
    padding-left: 24px;
    border-left: 1px solid #969696;
}

.profile {
	font-family: 'HelveticaNeue LT CYR 57 Cond';
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    position: relative;
    height: 19px;
}

.profile .profile-link {
    color: #000;
    position: relative;
}

.profile .profile-img {
	width: 32px;
    height: 32px;
    background: #F49600;
    border-radius: 50px;
    display: inline-block;
    position: absolute;
    top: -14px;
}

.profile-img span {
    color: #000;
    font-family: 'HelveticaNeue LT CYR 57 Cond';
    font-weight: bold;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    display: block;
}

.profile-link .profile-name {
	vertical-align: top;
    padding-left: 42px;
    padding-right: 10px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
}

.profile .logout-link {
	padding-right: 30px;
	font-size: 0;
    display: inline-block;
}

.section-prop{
    width: 100%;
    min-height: calc(100vh - 132px);
    position: relative;
    background: url('../img/bg-prop.png') center no-repeat;
    background-size: cover;
    overflow: hidden;
}

.section-prop-robot {
    content: '';
    position: absolute;
    max-width: 560px;
    height: 790px;
    bottom: 0px;
    right: 9%;
    z-index: 1;
}

.section-prop::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .7);
    opacity: 0.7;
    z-index: 0;
    top: 0;
    left: 0;
}

.prop{
    max-width: 750px;
    margin-left: 140px;
    z-index: 1;
    position: relative;
    padding-top: 100px;
    box-sizing: content-box;
    padding-bottom: 140px;

}

.prop__title{
    font-family: 'HelveticaNeue LT CYR 57 Cond';
    font-size: 58px;
    line-height: 70px;
    
    color: #1A1A1A;

    margin-bottom: 48px;

}

.prop-steps__ul{
    display: flex;
    padding-bottom: 140px;
}

.prop-steps__ll{
    max-width: 150px;
    width: 100%;
    margin-right: 36px;
    /*padding-left: 20px;*/
    position: relative;
}

.prop-steps__ll:last-child{
    margin-right: 0;
}

.prop-steps__ll::after{
        content: '';
        position: absolute;
        top: 52px;
        left: 80px;
        z-index: -1;
        width: 130px;
        height: 1px;
        background: #F49600;
}

.prop-steps__ll:last-child::after {
    display: none;
}


.prop-steps__img{
    max-width: 104px;
    margin-bottom: 10px;
    /*margin-left: -34px;*/
}

.prop-steps__title{
    font-family: 'HelveticaNeue LT CYR 57 Cond';
    font-size: 22px;
    line-height: 27px;
    color: #4A96D2;
    margin-bottom: 8px;
    text-transform: uppercase;
    font-weight: bold;
    padding-left: 20px;
}

.prop-steps__desc{
    font-size: 14px;
    line-height: 17px;
    padding-left: 20px;
}

.sub{
    position: absolute;
    left: 0;
    bottom: 0;
    padding-top: 36px;
    padding-bottom: 36px;
    background: rgba(255, 255, 255, 0.72);
    width: 100%;
    z-index: 1;
}

.countdown{
    font-family: 'HelveticaNeue LT CYR 57 Cond';
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.countdown__text{
    margin-right: 24px;
    
}

.hidden__start-date {
    display: none;
}

.countdown__widget{
    display: flex;
}

.countdown__widget-part{
    width: 64px;
    height: 64px;
    background: #FFFFFF;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.17);
    border-radius: 5px;
    text-align: center;
    padding-top: 6px;
    margin-right: 30px;
    position: relative;
}

.countdown__widget-part::after{
    content: '';
    right: -18px;
    position: absolute;
    width: 5px;
    top: 20px;
    height: 26px;
    background: rgba(0, 0, 0, 0.17);
    border-radius: 100px;
}

.countdown__widget-part:last-child::after{
    display: none;
}

.countdown__widget-part:last-child{
    margin-right: 0;
}





.countdown__widget-number{
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    text-transform: uppercase;
}

.countdown__widget-text{
    display: block;
    font-size: 7px;
    line-height: 8px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Helvetica Neue';
}

.countdown__widget-part.days .countdown__widget-number{
    text-shadow: 1px 1px 0px #F49600;
}
.countdown__widget-part.hours .countdown__widget-number{
    text-shadow: 1px 1px 0px #4A96D2;
}
.countdown__widget-part.minutes .countdown__widget-number{
    text-shadow: 1px 1px 0px #E4032E;
}

.sub__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.sub-form form{
    display: flex;
}

.sub-form__text,.sub-form__input{
    margin-right: 36px;
}

.sub-form__text{
    max-width: 210px;
}

.sub-form__input{
    padding-top: 10px;
    padding-bottom: 11px;
    padding-left: 23px;
    padding-right: 16px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    max-width: 250px;
}

.sub-form__input::placeholder{
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.4);
}

.btn-sub{
    min-width: 170px;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    background: #F49600;
    font-family: 'HelveticaNeue LT CYR 57 Cond';
    font-weight: bold;
    box-shadow: 0px 0px 11px rgba(244, 150, 0, 0.21);
    border-radius: 5px;
    color: #363636;
    transition: .4s ease-out;
}

.btn-sub:hover {
    color: #363636;
    opacity: .8;
}

.menu-mobile {
    display: none;
}

@media (max-width: 1350px) {
    .sub__inner {
        flex-direction: column;
    }
    
    .countdown {
        margin-bottom: 48px;
    }

    .section-prop-robot {
        content: '';
        position: absolute;
        max-width: 320px;
        height: 420px;
        bottom: 95px;
        right: 3%;
        z-index: 1;
    }

}

@media (max-width: 1128px) {
    .section-prop-robot {
        display: none;
    }
}


@media (max-width: 1000px) {
    .logo{
        max-width: 130px;
    }

    .header{
        padding-top: 32px;
        padding-bottom: 32px;
        position: relative;
    }

    .menu{
        display: none;
        position: absolute;
    }

    .header__link,
    .profile{
        display: none;
    }

    .menu__ul .header__link {
    	display: block;
    }

    .menu__ul .profile {
    	display: block;
    	padding-top: 40px;
    	margin-left: 20px;
    	margin-right: 20px;
    	padding-bottom: 20px;
    }

    .menu__ul .profile::before {
    	content: '';
    	position: absolute;
    	top: 0;
    	left: 0;
    	width: 100%;
    	height: 2px;
    	background: rgba(255,255,255,0.4);
    }

    .menu__ul .profile-link .profile-name {
	    padding-right: 0;
	    font-size: 21px;
	    color: #fff;
        max-width: 280px;
    }

    .menu__ul .profile .logout-link {
    	display: block;
	    font-size: 18px;
	    color: rgba(255,255,255,0.4);
	    padding-top: 10px;
    }

    .menu-mobile{
        display: block;
        width: 32px;
        height: 24px;
        background: url('../img/menu.png') no-repeat center;
    }

    .section-prop-robot{
        display: none;
    }

    .prop{
        margin-left: 0;
        margin: auto;
        padding-bottom: 12px;
    }

    .prop__title{
        padding-top: 286px;
        font-size: 45px;
        line-height: 54px;
        text-align: center;
        position: relative;
    }

    .prop__title::after{
        content: '';
        position: absolute;
        top: -133px;
        width: 100%;
        height: 505px;
        background: url(../img/robot-mobile.png) center no-repeat;
        background-size: contain;
        left: 0;
    }

    .prop-steps__ul{
        flex-direction: column;
        align-items: center;
        padding-bottom: 0;
    }

    .prop-steps__img{
        margin-left: 0;
        margin: auto;
        margin-bottom: 10px;
    }

    .prop-steps__ll{
        margin-right: 0;
        padding-left: 0;
        text-align: center;
        padding-bottom: 48px;
        max-width: 210px;
    }

    .prop-steps__ll::after {
        left: 0;
        right: 0;
        width: 100%;
    }

    .prop-steps__ll:first-child::after{
        left: auto;
        right: 80px;
        width: 130px;
    }

    .prop-steps__ll:last-child::after {
        display: block;
        left: auto;
        right: 80px;
        width: 130px;
    }

    .prop-steps__ll::before{
            content: '';
            position: absolute;
            left: 0;
            top: 52px;
            border-left: none;
            height: calc(100% + 1px);
            width: 1px;
            background: #F49600;
    }

    .prop-steps__ll:last-child::before{
        display: none;
    }

    .prop-steps__ll:nth-child(even)::before{
        left: auto;
        right: 0;
    }

    .prop-steps__title {
        padding-left: 0;
    }

    .prop-steps__desc{
        max-width: 130px;
        margin: auto;
        padding-left: 0;
    }

    .sub {
        position: relative;
    }

    .countdown{
        flex-direction: column;
        align-items: center;
    }

    .countdown__text{
        margin-right: 0;
        margin-bottom: 18px;
    }

    .sub-form form {
        flex-direction: column;
        align-items: center;
    }
    
    .sub-form__text{
        text-align: center;
        margin-bottom: 26px;
    }

    .btn-sub{
        margin-top: 16px;
        min-width: 215px;
        height: 40px;
    }

    .sub-form__text,
    .sub-form__input,
    .btn-sub{
        margin-right: 0;
    }

    .menu__ul{
        flex-direction: column;
        padding-top: 48px;
        padding-bottom: 60px;
    }

    .menu.active {
        display: block;
        width: 100%;
        left: 0;
        position: absolute;
        background: #363636;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        text-transform: uppercase;
        z-index: 99;
        top: 108px;
    }
    
    .menu__ul > li:first-child .menu__link,
    .menu.active a{
        color: #4A96D2;
    }

    .menu.active .menu__ul>li {
        padding-bottom: 30px;
        margin-right: 0;
    }

    .menu.active .menu__ul>li:last-child,
    .menu.active .menu__ul>.header__link:last-child {
        padding-bottom: 0;
    }

    .menu.active .menu__ul>.header__link {
        padding-bottom: 30px;
        padding-left: 0px;
        padding-right: 0;
        border: 0;
        margin-right: 0;
        font-size: 21px;
    	color: #fff;
    }
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
    opacity: 0;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    align-items: flex-start;
    padding-top: 10%;
    pointer-events: none;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.js-popup-show {
    z-index: 99999;
    opacity: 1;
    pointer-events: visible;
}

.popup__wrap{
    background: #FFFFFF;
    padding-left: 38px;
    padding-right: 38px;
    max-width: 320px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;
}

.main-popup .popup__wrap {
	width: 100%;
}

.popup__img{
    max-width: 146px;
    margin-bottom: 32px;
}

.popup__title{
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'HelveticaNeue LT CYR 57 Cond';
    font-weight: bold;
    color: #292929;
    margin-bottom: 24px;
}

.popup__desc{
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #292929;
}

.popup__btn{
    line-height: 40px;
    height: 40px;
}

.no-scrolling{
    overflow: hidden;
}

.popup-form input, .popup-form textarea {
    padding-top: 10px;
    padding-bottom: 11px;
    padding-left: 17px;
    padding-right: 16px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    max-width: 100%;
    width: 100%;
}

.popup-form__name{
    margin-bottom: 10px;
}

.popup-form__mail{
    margin-bottom: 10px;
}

.popup-form__text{
    min-height: 134px;
    margin-bottom: 24px;
}

.cancel{
    width: 12px;
    height: 12px;
    background: url('../img/can.svg') center no-repeat;
    right: 12px;
    top: 12px;
    cursor: pointer;
    position: absolute;
}

.sub-form__input.error,
.popup-form input.error,
.popup-form textarea.error,
.contact__form input.error,
.contact__form textarea.error {
    border: 2px solid #E4032E;
    color: #E4032E;
}

.contact__form select.error + .select2-container .select2-selection__rendered  {
    border: 2px solid #E4032E;
}

.input-wrap{
    position: relative;
}

.sub-form__input.error + label{
    font-size: 0;
}

.sub-form__input.error+label::after{
    content: '';
    position: absolute;
    display: block;
    width: 16px;
    height: 14px;
    top: 0;
    bottom: 0;
    right: 46px;
    margin: auto;
    background: url('../img/error.svg') center no-repeat;
    background-size: contain;
}

.popup-form input.error+label,
.popup-form textarea.error+label {
    font-size: 0;
}

.popup-form input.error+label,
.popup-form textarea.error+label{
    content: '';
    position: absolute;
    display: block;
    width: 16px;
    height: 14px;
    top: -10px;
    bottom: 0;
    right: 12px;
    margin: auto;
    background: url(../img/error.svg) center no-repeat;
    background-size: contain;
        
}

.popup-form textarea.error+label{
    bottom: auto;
    top: 12px;
}

.popup-form span.error,
.contact__form span.error {
    display: none !important;
    font-size: 0;
}

.header.header-prop .header__link {
    color: #3636368c;
    border-left: 1px solid #969696;
}

.header .header__link {
    color: #E4032E;
    border-left: 2px solid #292929;
}

.section-hero{
    position: relative;
    overflow: hidden;
}

/*.section-hero::before{
    position: absolute;
    content: '';
    height: 60px;
    bottom: 0;
    width: 50%;
    left: 0;
    background-image: linear-gradient(to right top, #ffffff 49%, transparent 50%);
}

.section-hero::after {
    position: absolute;
    content: '';
    height: 60px;
    bottom: 0;
    width: 50%;
    left: 50%;
    background-image: linear-gradient(to left top, #ffffff 49%, transparent 50%);
}*/

.section-hero::after {
    position: absolute;
    content: '';
    height: 88px;
    bottom: 0;
    width: 100%;
    left: 0;
    background: url(../img/bg-shadow-top.png) center no-repeat;
    background-size: cover;
}

.hero_robot{
    content: '';
    position: absolute;
    max-width: 500px;
    height: 700px;
    bottom: 40px;
    right: 15%;
    z-index:0;
}

@media (min-width: 1000px) and (max-height: 850px) {
    .hero_robot{
        max-width: 450px;
        height: 650px;
    }
}

@media (min-width: 1000px) and (max-height: 800px) {
    .hero_robot{
        max-width: 400px;
        height: 600px;
    }
}

@media (min-width: 1000px) and (max-height: 750px) {
    .hero_robot {
        max-width: 350px;
        height: 530px;
    }
}

.hero {
    min-height: calc(100vh - 131px);
    width: 100%;
    background: url('../img/bg-prop.png') center no-repeat;
    background-size: cover;
}

@media (min-width: 1000px) and (max-height: 700px) {
    .hero {
        min-height: 570px;
    }
}


.hero__inner{
    max-width: 1012px;
}

.hero__title{
    padding-top: 130px;
    font-family: 'HelveticaNeue LT CYR 57 Cond';
    font-size: 88px;
    line-height: 80px;
    color: #1A1A1A;
    margin-bottom: 24px;
}

.hero__desc{
    font-family: 'HelveticaNeueCyr';
    font-weight: 300;
    font-size: 21px;
    line-height: 32px;
    color: #000;
    margin-bottom: 66px;
    max-width: 420px;
}

.btn{
    display: inline-block;
    font-family: 'HelveticaNeue LT CYR 57 Cond';
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    background: #F49600;
    box-shadow: 0px 4px 16px rgba(244, 150, 0, 0.25);
    color: #363636;
    padding-top: 22px;
    padding-bottom: 22px;
    padding-left: 18px;
    padding-right: 18px;
    background: radial-gradient(#F49600 0%, #F49600 100%);
    transition: all .3s;
    position: relative;
    z-index: 1;
}

.btn:hover{
    transition: all .3s;
    background: radial-gradient(51.04% 160.37% at 48.96% 50%, #FFB135 0%, #EC7F01 100%);
    box-shadow: 0px 0px 16px rgba(244, 150, 0, 0.6);
    color: #363636;
}


.popup .btn {
	width: 100%;
}

.section-hero{
    margin-bottom: 60px;
}

.section-steps{
    position: relative;
    padding-bottom: 50px;
}

/*.section-steps::before {
    position: absolute;
    content: '';
    height: 60px;
    bottom: 0;
    width: 50%;
    left: 0;
    background-image: linear-gradient(to right top, transparent 49%, #fff 50%);
    filter: drop-shadow(0px 10px 15px rgba(0, 0, 0, 0.07));
    z-index: 1;
}*/

/*.section-steps::after {
    position: absolute;
    content: '';
    height: 60px;
    bottom: 0;
    width: 50%;
    left: 50%;
    background-image: linear-gradient(to left top, transparent 49%, #fff 50%);
    filter: drop-shadow(0px 10px 15px rgba(0, 0, 0, 0.07));
    z-index: 1;
}*/

.section-steps::after {
    position: absolute;
    content: '';
    height: 114px;
    bottom: -114px;
    width: 100%;
    left: 0;
    background: url(../img/bg-shadow-bottom.png) center no-repeat;
    background-size: cover;
    z-index: 1;
}

.section-prizes{
    min-height: 724px;
    width: 100%;
    padding-top: 120px;
    /*transform: translate(0,-60px);*/
    background: url('../img/bg-prop.png') center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 0;
}

.prizes {
    font-family: 'HelveticaNeueCyr';
}

.section-prizes::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.85);
    top: 0;
    left: 0;
    z-index: -1;
}


.title-section{
    font-family: 'HelveticaNeue LT CYR 57 Cond';
    font-size: 58px;
    line-height: 66px;
    color: #1A1A1A;
    text-align: center;
}




.prizes__title{
    margin-bottom: 78px;
}

.prizes__ul{
    display: flex;
    max-width: 906px;
    margin: auto;
    justify-content: space-between;
}


.prizes__li{
	width: 100%;
    max-width: 230px;
}

.prizes__li-title{
    font-family: 'HelveticaNeue LT CYR 57 Cond';
    font-size: 21px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #4A96D2;
    margin-bottom: 16px;
    font-weight: bold;
}

.prizes_li_big .prizes__li-title {
	font-size: 30px;
}

.prizes__img{
    position: relative;
    margin-bottom: calc(12px + 6px);
    width: 100%;
    max-width: 220px;
    margin-left: auto;
    margin-right: auto;
}

.prizes__count{
    position: absolute;
    bottom: -6px;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    max-width: 120px;
    background: #4A96D2;
    border-radius: 100px;
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.prizes__desc{
    text-align: center;
    color: #000;
}

.prizes_li_big .prizes__desc {
    font-size: 21px;
}

.prizes_li_big{
    transform: scale(1.1);
}

.footer{
    padding-top: 30px;
    padding-bottom: 30px;
}

.footter__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright{
    font-family: 'HelveticaNeue LT CYR 57 Cond';
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: bold;
    color: #969696;
}

.copyright__a{
    padding-right: 15px;
    margin-right: 15px;
    border-right: 1px solid #3636368c;
    color: #E4032E;
}

.socials {

}

.socials__ul{
    list-style: none;
    display: flex;

}

.up_container{
    max-width: 1104px;
}

.winners .up_container {
	max-width: 744px;
}

.up{
    margin-top: 52px;
}

.up-header{
    color: #fff;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-right: 24px;
    padding-left: 24px;
    background: #4A96D2;
    box-shadow: 0px 4px 24px rgba(74, 150, 210, 0.4);
    border-radius: 10px;
    display: flex;
    overflow: hidden;
    align-items: center;
    position: relative;
    margin-bottom: 72px;
}

.up-header__col{
    display: flex;
    align-items: center;
    margin-right: 26px;
}

.up-header__col:last-child{
    margin-right: 0;
}

.up-header__ava{
    width: 64px;
    height: 64px;
    margin-right: 26px;
    position: relative;
}

.up-header__ava__inner{
    width: 64px;
    height: 64px;
    border-radius: 100px;
    overflow: hidden;
    background: #F49600;
}

.up-header__ava__inner span {
    color: #000;
    font-family: 'HelveticaNeue LT CYR 57 Cond';
    font-weight: bold;
    font-size: 32px;
    line-height: 64px;
    text-align: center;
    display: block;
}

.up-header__ava-upload{
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20px;
    height: 20px;
    background: url('../img/add.png') center no-repeat;
    background-size: contain;
}

.up-header__col.info{
    flex-direction: column;
    align-items: flex-start;
    
}

.up-header__col.info span{
    font-family: 'HelveticaNeue LT CYR 57 Cond';
    font-weight: bold;
    font-size: 10px;
    line-height: 11px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 8px;

}

.up-header__info{
    font-family: 'HelveticaNeueCyr';
    font-size: 18px;
    line-height: 18px;
}

.up-header__name{
    font-family: 'HelveticaNeue LT CYR 57 Cond';
    font-size: 19px;
    line-height: 22px;
    text-transform: uppercase;
    font-weight: bold;
    color: #FFFFFF;
    margin-right: 26px;
}

.oil-col{
    position: absolute;
    right: 24px;
    top: 24px;
}

.up-header__oil-img{
    margin-right: 14px;
    position: relative;
    padding-left: 32px;
}

.up-header__oil-img::after{
    left: 0;
    top: -50px;
    position: absolute;
    content: '';
    height: 200px;
    width: 1px;
    background: rgba(255, 255, 255, 0.3);
}




.up-header__oil-count{
    font-family: 'HelveticaNeue LT CYR 57 Cond';
    font-weight: bold;
    font-size: 58px;
    line-height: 66px;
    margin-right: 18px;
}

.up-header__oil-desc{
    font-size: 18px;
    line-height: 20px;
    font-family: 'HelveticaNeue LT CYR 57 Cond';
}


.header.header_shadow{
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.1);

}

.steps{
    display: flex;
}

.steps__left{
    min-width: 210px;
    margin-right: 120px;
}

.steps__right{
    width: 100%;
    position: relative;
}

.steps__ul{
    max-width: 750px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.step{
    display: flex;
    align-items: center;
    position: relative;
}

.step__img{
	width: 100%;
    max-width: 150px;
    height: 100%;
    max-height: 150px;
    margin-right: 20px;
}

.step__text{
    max-width: 150px;
}

.s4 .step__text {
    max-width: 220px;
}

.step__title{
    font-family: 'HelveticaNeue LT CYR 57 Cond';
    font-weight: bold;
    margin-bottom: 6px;
    font-size: 30px;
    line-height: 34px;
    color: #4A96D2;
    text-transform: uppercase;
}

.step__desc{
    font-family: 'HelveticaNeueCyr';
    font-size: 16px;
    line-height: 20px;
}

.s2,.s4{
    align-self: flex-end;
}

.s4{
    transform: translate(65px,0);
}

.steps__title{
    font-family: 'HelveticaNeue LT CYR 57 Cond';
    font-size: 58px;
    line-height: 66px;
    font-weight: bold;

    color: #1A1A1A;

}

.s1::after{
        content: '';
        display: block;
        position: absolute;
        width: 378px;
        height: 94px;
        background: url('../img/steps/l1.png') center no-repeat;
        background-size: contain;
        left: 101px;
        bottom: -34px;

}

.s2::after {
    content: '';
    display: block;
    position: absolute;
    width: 358px;
    height: 104px;
    background: url('../img/steps/l2.png') center no-repeat;
    background-size: contain;
    left: -322px;
    bottom: -47px;

}

.s3::after {
    content: '';
    display: block;
    position: absolute;
    width: 352px;
    height: 134px;
    background: url('../img/steps/l3.png') center no-repeat;
    background-size: contain;
        left: 100px;
        bottom: -82px;

}

.steps_robot{
        z-index: 10;
        max-width: 260px;
        left: calc(0px - 120px - 260px);
        top: 160px;
        height: 660px;
}

@media (max-width: 1320px) {
    .steps_robot {
        left: calc(0px - 60px - 260px);

    }
}

@media (max-width: 1200px) {
    .s4{transform: none}

    .steps_robot{
        display: block;
    }

    .hero_robot{
        right: 10%;
        display: block;
    }

    .steps__left {
		margin-right: 90px;
    }
}

@media (max-width: 1080px) {

	.menu, 
	.header__link,
	.profile .profile-link {
		font-size: 14px;
	}
	
	.menu__ul > li {
		margin-right: 20px;
	}

	.steps__ul {
    	max-width: 620px;
    }

    .s1::after{
	    width: 330px;
	    height: 66px;
	    left: 69px;
	    bottom: -34px;
    }
    .s2::after {
        width: 276px;
        height: 104px;
        left: -250px;
        bottom: -47px;
    }
    .s3::after {
        width: 260px;
        height: 134px;
        left: 100px;
        bottom: -91px;
    }
}

@media (max-width: 1000px){


    .steps_robot {
        display: none;
    }

    .hero{
        min-height: 660px;
    }

    .hero_robot{
        display: none;
    }

    .hero__inner{
        flex-direction: column;
        align-items: center;
        margin: auto;
        text-align: center;
    }

    .hero__desc{
        margin-left: auto;
        margin-right: auto;
        font-size: 18px;
        line-height: 32px;
        margin-bottom: 16px;
    }

    .hero__title{
        font-size: 55px;
        line-height: 53px;
        padding-top: 240px;
        position: relative;
    }

    .hero__title::after{
        content: '';
        position: absolute;
        max-width: 300px;
        width: 100%;
        left: 0;
        right: 0;
        top: -130px;
        margin: auto;
        height: 620px;
        background: url(../img/robot-mobile2.png) center no-repeat;
        background-size: contain;

    }

    /*.section-hero::before,
    .section-hero::after{
        height: 32px;
    }*/

    .section-hero::after {
    	height: 32px;
	    background-size: 100% 32px;
    }

    /*.section-steps::after,
    .section-steps::before{
        height: 32px;
        bottom: 32px;
    }*/

    .section-steps::after {
	    height: 32px;
	    bottom: -32px;
	    background-size: 100% 32px;
	}

    .section-prizes{
        min-height: none;
        padding-top: 60px;
    }

    .prizes__title{
        margin-bottom: 48px;
        font-size: 40px;
        line-height: 45px;
    }

    .prizes__img{
        max-width: 170px;
            margin-left: auto;
            margin-right: auto;
    }


    .prizes__ul{
        flex-direction: column;
        align-items: center;
    }

    .prizes__li{
        margin-bottom: 72px;
    }

    .prizes_li_big{
        /* margin-bottom: 0; */
    }

    .steps{
        flex-direction: column;
        align-items: center;
    }

    .steps__left{
        margin-right: 0;
    }

    .steps__title{
        text-align: center;
        margin-bottom: 48px;
        font-size: 40px;
        line-height: 45px;
    }

    .step::after{
        z-index: 0;
    }

    .step{
        background: #fff;
    }

    .step:last-child{
        margin-bottom: 0;
    }


    .steps__ul {
        margin: auto;
    }

    .footter__inner{
        flex-direction: column;
    }

    .footer .logo{
        margin-bottom: 48px;
    }

    .copyright{
        display: flex;
        flex-direction: column;
        align-items: center;
        order: 2;
        color: #3636368c;
        font-size: 20px;
    }

    .copyright span{
        margin-top: 6px;
        display: block;
        font-size: 14px;
    }

    .copyright__a{
        border: none;
        margin: 0;
        padding: 0;
        margin-bottom: 40px;
    }

    .socials{
        order: 1;
        margin-bottom: 48px;
    } 

}

.steps__line-mob{
    display: none;
}


@media (max-width: 630px) {
    .step {
        margin-bottom: 48px;
        background: none;
    }

    .steps_robot {
        left: -150px;
        display: block;
        z-index: 0;
        top: -40px;

    }

    .steps_robot img {
        opacity: .3;
    }

    

    .step::after {
        display: none;
    }

    .step::after{
        width: 100px;
        height: 2px;
        border: 2px dashed #F49600;
    }

    .s2 .step__img{
        order: 2;
        margin-right: 0;
    }

    .s2 .step__text {
        text-align: right;
        margin-right: 20px;
    }

    .s4{
        flex-direction: column;
        align-items: center;
        align-self: center;
        /*transform: scale(1.2);*/
        text-align: center;
    }

    .s4 .step__title {
    	font-size: 37px;
    }

    .s4 .step__img{
        margin-right: 0;
        max-width: 200px;
    	max-height: 200px;
    }

    .s4 .step__desc{
        max-width: 200px;
    }
}

@media (max-width: 400px) {
    .steps__line-mob {
        display: block;
        max-width: 160px;
        left: 0;
        right: 0;
        margin: auto;
        position: absolute;
        top: 112px;
        
    }

    .steps__ul{
        position: relative;
    }
}

.up__title{
    font-family: 'HelveticaNeue LT CYR 57 Cond';
    font-weight: bold;
    font-size: 46px;
    line-height: 52px;
    text-transform: uppercase;
    color: #363636;
    margin-bottom: 72px;
}

.up__table{
    /*max-width: 872px;*/
    width: 100%;
    max-width: 900px;
    max-height: 320px;
    overflow: auto;
    margin-bottom: 52px;
}

table{width: 100%;}

.thead-td{
    font-family: 'HelveticaNeue LT CYR 57 Cond';
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #4A96D2;
    padding-bottom: 36px;
}

.tbody-td{
    padding-bottom: 20px;
}

.tbody-td:last-child{
    padding-bottom: 0;
}

.winners .tbody-td:last-child {
	padding-bottom: 20px;
}

.table__check,
.table__prize {
    width: 64px;
    height: 64px;
    border-radius: 10px;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.table__prize{
    overflow: visible;
}

.table__prize img{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0px;
	margin: auto;
}

.table__prize.table__op img{
    top: -16px;
}

.table__how{
    display: inline-block;
    vertical-align: middle;
    font-family: 'HelveticaNeueCyr';
    font-size: 18px;
    line-height: 18px;
    text-decoration-line: underline;
    color: #4A96D2;
    margin-left: 14px;
}


.th5{
    padding-left: 16px;
}

.td1{
    width: 180px;
    font-family: 'HelveticaNeueCyr';
    font-size: 21px;
    line-height: 21px;
    text-transform: uppercase;
}

.winners .td1 {
	text-transform: none;
}

.td2{
    width: 134px;
}

.winners .td2 {
	width: 230px;
    font-family: 'HelveticaNeueCyr';
    font-size: 21px;
    line-height: 21px;
}

.td3{
    width: 154px;
    position: relative;
    font-family: 'HelveticaNeue LT CYR 57 Cond';
    font-size: 35px;
    line-height: 40px;
    font-weight: bold;
    padding-left: calc( 42px + 10px);

}

.td3::after{
    content: '';
    position: absolute;
    width: 26px;
    height: 42px;
    background: url('../img/oil-table.svg') center no-repeat;
    background-size:  contain;
    left: 10px;
    bottom: 0;
    top: -30px;
    margin: auto;
}

.td4{
    width: 194px;  
    font-family: 'HelveticaNeueCyr';
    font-size: 21px;
    line-height: 21px;
}

.table__rej{
    font-family: 'HelveticaNeueCyr';
    font-size: 21px;
    line-height: 21px;
    text-decoration-line: underline;
    color: #4A96D2;
    cursor: pointer;
}

.up__upload{
    margin-bottom: 112px;
    padding-left: 58px;
    position: relative;
    padding-right: 24px;
}

.up__upload::after{
    position: absolute;
    width: 22px;
    height: 26px;
    content: '';
    background: url('../img/check-icon.png') center no-repeat;
    background-size: contain;
    top: 0;
    bottom: 0;
    left: 24px;
    margin: auto;
}

.section-up{
    background: linear-gradient(0.22deg, #E8ECF1 0.16%, rgba(232, 236, 241, 0) 99.64%);
    overflow: hidden;
    position: relative;
}

.up_robot{
    width: 480px;
    height: 590px;
    bottom: -17%;
    z-index: 0;
}

.td2-mobile,
.th2-mobile,
.th3-mobile {
    display: none;
}

.winners {
	min-height: calc(100vh - 252px);
}

.week {
	font-family: 'HelveticaNeueCyr';
    font-size: 21px;
    line-height: 21px;
    margin-right: 20px;
    max-width: 186px;
    width: 100%;
}

.weeks-wrap {
	max-width: 160px;
    width: 100%;
}

.filters {
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

.phone-filter {
	max-width: 320px;
    width: 100%;
    position: relative;
    height: 40px;
}

.phone-filter input {
	width: 100%;
    height: 40px;
    padding: 0 30px 0 20px;
    border: 2px solid rgba(0,0,0,0.2);
    border-radius: 5px;
}

.search {
	position: absolute;
	top: 0;
	right: 10px;
	bottom: 0;
	margin: auto;
	width: 16px;
	height: 16px;
	background: url(../img/search.svg) center no-repeat;
	background-size: cover;
	cursor: pointer;
}

.week-filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 366px;
    width: 100%;
}

@media (max-width: 1000px){

	.section-up {
		overflow: auto;
	    padding-bottom: 48px;
	}

    .up__upload{
        margin-bottom: 0;
        max-width: 248px;
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .up__title {
    	font-size: 32px;
	    line-height: normal;
	    text-align: center;
	    margin-bottom: 50px;
    }

    .up__table{
        margin-bottom: 48px;
        margin-left: auto;
        margin-right: auto;
        max-width: 375px;
    }

    .up_robot{
        display: block;
        left: -15%;
        right: auto;
        bottom: 0;
        margin: auto;
        height: auto;
        z-index: 0;
        opacity: .5;
    }

    .up{
        margin-top: 30px;
    }
    .up-header__name{
        font-size: 19px;
    }

    .up-header{
        flex-direction: column;
        align-items: flex-start;
        max-width: 360px;
        margin: auto;
        margin-bottom: 48px;
    }

    .oil-col{
        align-self: center;
        top: 0;
        left: 0;
        position: relative;
    }


    .oil-col::after {
        position: absolute;
        content: '';
        left: 0;
        right: 0;
        margin: auto;
        max-width: 310px;
        padding-left: 24px;
        padding-right: 24px;
        height: 1px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        top: 0;
    }

    .up-header__oil-img{
        padding-left: 0;
    }
    .up-header__oil-img::after{
        display: none;
    }

    .up-header__col:last-child{
        padding-top: 24px;
        margin-top: 24px;
    }

    .up-header__col.info{
        margin-top: 24px;
    }
    
    .thead-td1,
    .thead-td4,
    .th2,
    .th3,
    .td1,
    .td4,
    .winners .thead-td3 {
        display: none;
    }

    .td2 {
    	width: 160px;
    }

    .td2-mobile,
    .th2-mobile,
    .th3-mobile {
        display: inline-block;
    }

    .td2-mobile {
    	vertical-align: middle;
    }

    .td2-mobile__date {
    	font-size: 16px;
    }

    .td2-mobile__status,
    .table__rej-trigger {
    	font-size: 13px;
    }

    .table__rej {
    	font-size: 13px;
    	line-height: 1;
    }

    .th3-mobile {
	    padding-left: 10px;
    }

    .td3{
    	width: 70px;
        font-size: 21px;
        line-height: 24px;
        padding-left: calc(18px + 10px);
    }

    .td3::after{
        width: 12px;
        height: 18px;
        top: -26px;
    }

    .table__how {
    	font-size: 14px;
    	text-align: left;
    	margin-left: 0;
    }

    .table__prize,
    .table__check {
        width: 48px;
        height: 48px;
        margin-right: 5px;
    }
	
	.th5 {
		text-align: center;
    	padding: 0;
	}

	.td5 {
		padding-bottom: 0;
    	text-align: center;
    	display: flex;
    	align-items: center;
    	justify-content: center;
	}
	
	.table__prize.table__op {
		max-width: 24px;
	}

	.table__prize.table__op img {
		top: -8px;
	}

	.td-phone {
		display: none;
	}

	.td2-mobile__name,
	.td2-mobile__phone {
		font-size: 16px;
	}

	.winners .td2-mobile__date {
		font-size: 10px
	}

    .winners .td2 {
        width: 190px;
    }
}


.section-contact{
    margin-top: 72px;
    min-height: calc(100vh - 131px - 196px);
    overflow: hidden;
    position: relative;
}

.container_contact{
    max-width: 870px;
    box-sizing: content-box;
}

.contact{
    display: flex;
}

.contact__left{
    min-width: 434px;
    margin-right: 110px;
    width: 100%;
}

.contact__right{
    min-width: 320px;
    padding-bottom: 230px;
}

.contact__title{
    margin-bottom: 48px;
    font-family: 'HelveticaNeue LT CYR 57 Cond';
    font-size: 46px;
    line-height: 52px;
    text-transform: uppercase;
    color: #363636;
}

.contact__desc{
    font-family: 'HelveticaNeueCyr';
    font-size: 21px;
    line-height: 26px;
    /* or 124% */
    color: #363636;
}

.contact__form{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-field,
.form-field option {
    color: #363636;
    margin-bottom: 10px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    border-radius: 5px;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.form-field::placeholder {
    font-family: 'Helvetica Neue';
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.4);

}

textarea.form-field{
    min-height: 110px;
    resize: vertical;
    margin-bottom: 24px;
}

.contact_robot {
    width: 190px;
    height: 450px;
    left: 32%;
    bottom: -120px;
}

.form-field-select{
    width: 100%;
    max-width: 100%;
}

.form-field-select * {
    outline: none;
    width: 100%;
}

.form-field-select .select2-container {
    margin-bottom: 24px;
    width: 100% !important;
}

.select2-selection.select2-selection--single{
    width: 100%;
    border: none;
}

.select2-container--default .select2-selection--single .select2-selection__rendered{
    font-family: 'Helvetica Neue';
    font-size: 14px;
    line-height: 17px;
    color: #363636;
    margin-bottom: 10px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    border-radius: 5px;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.winners .select2-container {
	width: 100% !important;
}

.winners .select2-container--default .select2-selection--single .select2-selection__rendered {
    background: transparent;
    border: none;
    font-family: 'HelveticaNeue LT CYR 57 Cond';
    font-weight: bold;
    font-size: 21px;
    color: #4A96D2;
    padding: 0;
    margin: 0;
}

.select2-dropdown{
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.winners .select2-container--open .select2-dropdown--below {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	margin-top: 15px;
}

.select2-results{
    margin-top: 14px;
}

.winners .select2-results {
	margin: 0;
}

.winners .select2-container--default .select2-results>.select2-results__options {
    font-family: 'HelveticaNeue LT CYR 57 Cond';
    font-weight: bold;
    font-size: 21px;
}

.select2-results__option{
    background: #FFFFFF;
    /* border: 1px solid rgba(0, 0, 0, 0.2); */
    box-sizing: border-box;
    border-radius: 5px;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow{
    top: 6px;
    right: 10px;
    margin: auto;
    transition: all .2s ease-out;
}

.select2-container--open .select2-selection--single .select2-selection__arrow {
	transform: rotate(-180deg);
}

.winners .select2-container--default .select2-selection--single {
	background: transparent;
	outline: none;
	height: 13px;
}

.select2-container--default .select2-results__option--highlighted[aria-selected]{
    color: #4A96D2;
    background: none;
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background: none;
    color: #363636;
}

.winners .select2-container--default .select2-results__option {
    transition: all .2s ease-out;
    position: relative;
    padding: 12px 0;
    margin: 0 18px;
}

.winners .select2-container--default .select2-results__option:hover {
	color: #4A96D2;
}

.winners .select2-container--default .select2-results__option::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background: #000;
}

.winners .select2-container--default .select2-results__option:last-child::before {
	display: none;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border: none;
    background: url('../img/ar.png') center no-repeat;
    width: 12px;
    height: 6px;
    background-size: contain;
}

.winners .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 0;
    right: 20px;
    height: 13px;
}

@media (max-width: 1000px){
    .contact{
        flex-direction: column;
    }

    .container_contact{
        box-sizing: border-box;
    }

    .section-contact{
        margin-top: 48px;
    }

    .contact__title{
        font-size: 32px;
        line-height: 36px;
        margin-bottom: 32px;
    }

    .contact__left{
        text-align: center;
        min-width: auto;
    }

    .contact__desc{
        margin: auto;
        margin-bottom: 36px;
        max-width: 302px;
    }

    .contact_robot{
        display: block;
        left: 0;
        right: 0;
        margin: auto;
    }

    .contact__right{
            padding-bottom: 378px;
    }

    .contact__right{
        min-width: auto;
    }

    .filters {
    	flex-direction: column;
    }

    .week-filter {
    	order: 1;
    }

    .phone-filter {
	    display: flex;
	    order: 0;
	    margin-bottom: 20px;
    }

    .week {
    	font-size: 18px;
		line-height: 18px;
    }

    .winners .select2-container--default .select2-selection--single .select2-selection__rendered,
    .winners .select2-container--default .select2-results>.select2-results__options {
    	font-size: 18px;
    }
}

@media (max-width: 1128px) {
    .contact_robot {
        display: block;
    }
}


.tooltip{
    position: absolute;
    width: 290px;
    left: 50%;
    right: 50%;
    transform: translate(-50%,0%);
    background: white;
    padding-top: 32px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 24px;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    top: 50px;
    display: none;
}

.tooltip::after{
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    background: white;
    /* box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.16); */
    left: 0;
    right: 0;
    margin: auto;
    z-index: -1;
    transform: rotate(45deg);
    top: 0px;
}

@media (max-width: 1000px) {
	.tooltip::after {
    	right: 150px;
    }
}

.tooltip .btn{
    padding-top: 16px;
    padding-bottom: 16px;
}

.table__rej-inner{
    position: relative;
    display: inline-block;
}

.tooltip__title{
    font-family: 'HelveticaNeue LT CYR 57 Cond';
    font-size: 21px;
    line-height: 24px;
    /* identical to box height */

    text-transform: uppercase;

    color: #4A96D2;
    margin-bottom: 16px;
    font-weight: bold;
}

.table__rej-trigger{
    text-decoration: underline;
}


.tooltip__desc{
    font-family: 'HelveticaNeueCyr';
    font-size: 16px;
    line-height: 21px;
    /* or 131% */

    text-align: center;

    color: #292929;
    margin-bottom: 24px;
}

.tooltip.active{
    display: block;
}


.container_winners{
    max-width: 744px;
}

@media (max-width: 370px) {
	.table__prize, 
	.table__check {
		width: 30px;
		height: 30px;
		border-radius: 5px;
    	margin-right: 2px;
	}

	.winners .table__prize, 
	.winners .table__check {
		width: 48px;
		height: 48px;
		border-radius: 10px;
    	margin-right: 0;
	}

    .up-header__ava {
        margin-right: 15px;
    }

   .up-header__name {
        font-size: 17px;
        margin-right: 0;
    }
}


.main-popup .popup-form {
    width: 100%;
}

.main-popup .popup__wrap{
    
    padding-left: 35px;
    padding-right: 35px;
}

.popup__title{
    color: #4A96D2;

}

.forgot-pass{
    margin-top: 12px;
    font-family: 'Helvetica Neue';
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */

    text-decoration-line: underline;

    color: rgba(54, 54, 54, 0.6);
    margin-bottom: 48px;
    display: block;
    text-align: center;
}

.popup-info{
    margin-top: 32px;
    text-align: center;
}

.popup-info__text{
    font-family: 'Helvetica Neue';
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */

    color: #363636;
    margin-bottom: 4px;
}

.popup-info__reg{
    font-family: 'Helvetica Neue';
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    text-decoration-line: underline;

    color: #4A96D2;
}

.checkbox{
    position: relative;
    padding-bottom: 3px;
    margin-bottom: 24px;
    text-align: left;
}

.checkbox input{
    -webkit-appearance: none;
    padding: 0;
    opacity: 0;
    top: 0;
    width: 19px;
    height: 19px;
    left: 5px;
    position: absolute;

}

.checkbox label{
    padding-left: 40px;
    display: inline-block;
}

.checkbox .checkmark{
    position: absolute;
    width: 19px;
    height: 19px;
    left: 7px;
    display: block;
    border: 2px solid rgba(0, 0, 0, 0.2);
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 5px;
}

.checkbox input:checked+.checkmark{
    background: #4A96D2;
    border:none;
}


.checkbox input:checked + .checkmark::after{
    position: absolute;
    content: '';
    width: 12px;
    left: 3px;
    top: 3px;
    height: 12px;
    background: url('../img/chk.png') center no-repeat;
    background-size: contain;
}

.checkbox a {
    color: #363636;
    text-decoration: underline;
}

.checkbox input.error ~ .checkbox-text,
.checkbox input.error ~ .checkbox-text a {
    color: #E4032E;
}

.checkbox input.error ~ .checkmark {
    border-color: #E4032E;
}

.input-wrap-mb24{
    margin-bottom: 24px;
}


.main-popup .popup-form input.error+label,
.main-popup .popup-form textarea.error+label{
    display: none !important;
}

.err{
    font-family: 'Helvetica Neue';
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #E4032E;
    margin: 10px 0;
}

.upload__ul{
    margin-bottom: 48px;
}

.upload__ul li{
    position: relative;
    margin-bottom: 24px;
}

.upload__ul .count{
    font-family: 'HelveticaNeue LT CYR 57 Cond';
    font-size: 32px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: bold;
    position: absolute;
    left: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    color: #F49600;
}

.upload__ul .text {
    display: block;
    text-align: left;
    padding-left: 30px;
}

#upload.js-popup-show{
    background: rgba(74, 150, 210, 0.8);
}

#upload-check .popup__wrap {
    max-height: 90%;
    -ms-overflow-style: none;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
}

#upload-check .popup__wrap::-webkit-scrollbar {
    width: 0;
}

.iframe-wrap,
.iframe-wrap iframe {
    scrollbar-width: none;
}

.iframe-wrap {
    height: 100%;
    min-height: 340px;
    width: 100%;
}

.iframe-wrap iframe {
    height: 100vh;
    max-height: 340px;
    width: 100%;
}