@font-face {
    font-family: 'Helvetica Neue';
    src: url('http://promo.total-russia.ru/fonts/HelveticaNeue.eot');
    src: url('http://promo.total-russia.ru/fonts/HelveticaNeue.eot?#iefix') format('embedded-opentype'),
        url('http://promo.total-russia.ru/fonts/HelveticaNeue.woff2') format('woff2'),
        url('http://promo.total-russia.ru/fonts/HelveticaNeue.woff') format('woff'),
        url('http://promo.total-russia.ru/fonts/HelveticaNeue.ttf') format('truetype'),
        url('http://promo.total-russia.ru/fonts/HelveticaNeue.svg#HelveticaNeue') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue LT CYR 57 Cond';
    src: url('http://promo.total-russia.ru/fonts/HelveticaNeueLTCYR-BdCond.eot');
    src: url('http://promo.total-russia.ru/fonts/HelveticaNeueLTCYR-BdCond.eot?#iefix') format('embedded-opentype'),
        url('http://promo.total-russia.ru/fonts/HelveticaNeueLTCYR-BdCond.woff2') format('woff2'),
        url('http://promo.total-russia.ru/fonts/HelveticaNeueLTCYR-BdCond.woff') format('woff'),
        url('http://promo.total-russia.ru/fonts/HelveticaNeueLTCYR-BdCond.ttf') format('truetype'),
        url('http://promo.total-russia.ru/fonts/HelveticaNeueLTCYR-BdCond.svg#HelveticaNeueLTCYR-BdCond') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue LT CYR 57 Cond';
    src: url('http://promo.total-russia.ru/fonts/HelveticaNeueLTCYR-Cond.eot');
    src: url('http://promo.total-russia.ru/fonts/HelveticaNeueLTCYR-Cond.eot?#iefix') format('embedded-opentype'),
        url('http://promo.total-russia.ru/fonts/HelveticaNeueLTCYR-Cond.woff2') format('woff2'),
        url('http://promo.total-russia.ru/fonts/HelveticaNeueLTCYR-Cond.woff') format('woff'),
        url('http://promo.total-russia.ru/fonts/HelveticaNeueLTCYR-Cond.ttf') format('truetype'),
        url('http://promo.total-russia.ru/fonts/HelveticaNeueLTCYR-Cond.svg#HelveticaNeueLTCYR-Cond') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('http://promo.total-russia.ru/fonts/HelveticaNeueCyr-Bold.eot');
    src: url('http://promo.total-russia.ru/fonts/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
        url('http://promo.total-russia.ru/fonts/HelveticaNeueCyr-Bold.woff2') format('woff2'),
        url('http://promo.total-russia.ru/fonts/HelveticaNeueCyr-Bold.woff') format('woff'),
        url('http://promo.total-russia.ru/fonts/HelveticaNeueCyr-Bold.ttf') format('truetype'),
        url('http://promo.total-russia.ru/fonts/HelveticaNeueCyr-Bold.svg#HelveticaNeueCyr-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('http://promo.total-russia.ru/fonts/light/HelveticaNeueCyr-Light.eot');
    src: url('http://promo.total-russia.ru/fonts/light/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),
        url('http://promo.total-russia.ru/fonts/light/HelveticaNeueCyr-Light.woff2') format('woff2'),
        url('http://promo.total-russia.ru/fonts/light/HelveticaNeueCyr-Light.woff') format('woff'),
        url('http://promo.total-russia.ru/fonts/light/HelveticaNeueCyr-Light.ttf') format('truetype'),
        url('http://promo.total-russia.ru/fonts/light/HelveticaNeueCyr-Light.svg#HelveticaNeueCyr-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent
}

html {
    -ms-overflow-style: none;
    scrollbar-width: none
}

body {
    font-family: 'Helvetica Neue';
    font-weight: normal;
    font-style: normal;
    background-color: #fff;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    box-sizing: content-box;
    height: 100%;
    color: #292929;
}

.container.uf-container.container--custom {
    color: #292929;
    font-size: 16px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
    box-sizing: content-box;
    padding: 0;
}

.container.uf-container.container--custom::-webkit-scrollbar {
    width: 0;
}

.container-tutorial__text {
    font-size: 0;
    display: none;
}

.dropzone.dropzone--custom.dz-clickable {
    background-color: #fff;
    border: 2px solid rgba(0, 0, 0, 0.1);
    text-align: center
}

.dropzone .dz-preview.dz-image-preview {
    margin: 16px auto;
}

@media screen and (max-width:768px) {
    .dropzone .dz-preview.dz-image-preview {
        width: 200px;
    }
}

.dropzone .dz-preview .dz-image {
    width: 100%;
    height: auto
}

.dropzone .dz-preview .dz-remove {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 0;
    font-weight: bold;
    background-color: #F49600;
    border-color: #F49600;
    width: 30px;
    height: 30px;
    line-height: 30px;
    padding: 0;
    border-radius: 0;
    z-index: 21;
    color: #fff;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    padding-left: 20px;
    text-decoration: none;
    overflow: hidden;
}

.dropzone .dz-preview .dz-remove::before {
    content: 'X';
    position: absolute;
    left: 10px;
    font-size: 16px;
    font-weight: bold;
}

.dropzone .dz-preview .dz-remove:hover {
    background: #EC7F01;
    text-decoration: none;
}

.uf-button-wrapper.button-wrapper--custom {
    text-align: center
}

.uf-button-submit.button-submit--custom {
    width: 100%;
    display: block;
    font-family: 'HelveticaNeue LT CYR 57 Cond';
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    box-shadow: 0px 4px 16px rgba(244, 150, 0, 0.25);
    color: #363636;
    padding-top: 22px;
    padding-bottom: 22px;
    padding-left: 18px;
    padding-right: 18px;
    background: radial-gradient(#F49600 0%, #F49600 100%);
    transition: all .3s;
    border: none;
    cursor: pointer;
    outline: none;
}

.uf-button-submit.button-submit--custom:hover {
    transition: all .3s;
    background: radial-gradient(51.04% 160.37% at 48.96% 50%, #FFB135 0%, #EC7F01 100%);
    box-shadow: 0px 0px 16px rgba(244, 150, 0, 0.6);
    color: #363636;
}

.uf-switchToManuallyButton-wrapper.switchToManuallyButton-wrapper--custom {
    margin-top: 20px;
}

.dropzone.dz-started .dz-message span,
.uf-switchToManuallyButton-wrapper.switchToManuallyButton-wrapper--custom button {
    width: 100%;
    display: block;
    font-family: 'HelveticaNeue LT CYR 57 Cond';
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #F49600;
    padding-top: 22px;
    padding-bottom: 22px;
    padding-left: 18px;
    padding-right: 18px;
    transition: all .3s;
    border: 2px solid #F49600;
    cursor: pointer;
    outline: none;
    background: transparent;
}

.dropzone.dz-started .dz-message span:hover,
.uf-switchToManuallyButton-wrapper.switchToManuallyButton-wrapper--custom button:hover {
    color: #363636;
    background: #F49600;
}

.uf-controls-wrapper {
    margin-top: 20px;
}

.uf-controls-wrapper .form-control {
    width: 100%;
    height: 40px;
    font-family: 'Helvetica Neue';
    font-weight: normal;
    font-style: normal;
    padding: 0;
    padding-left: 20px !important;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 16px;
    color: #000;
    min-width: 240px;
    max-width: 320px;
    font-size: 12px;
    line-height: 14px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    margin: 10px auto;
    box-shadow: none;
}

.input-group.date {
    /*overflow: hidden;*/
    margin: 10px auto;
    width: 100%;
    min-width: 240px;
    max-width: 320px;
}

.input-group.date input {
    margin: 0;
    min-width: 200px;
}

.input-group.date .input-group-addon {
    border-radius: 0;
}

.dropzone .dz-preview .dz-image {
    border-radius: 0;
}

.bootstrap-datetimepicker-widget {
    z-index: 9999;
    background: #fefefe;
    color: #000;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
    width: 17em;
}