@font-face {
    font-family: 'Helvetica Neue';
    src: url('HelveticaNeue.eot');
    src: url('HelveticaNeue.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeue.woff2') format('woff2'),
        url('HelveticaNeue.woff') format('woff'),
        url('HelveticaNeue.ttf') format('truetype'),
        url('HelveticaNeue.svg#HelveticaNeue') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue LT CYR 57 Cond';
    src: url('HelveticaNeueLTCYR-BdCond.eot');
    src: url('HelveticaNeueLTCYR-BdCond.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTCYR-BdCond.woff2') format('woff2'),
        url('HelveticaNeueLTCYR-BdCond.woff') format('woff'),
        url('HelveticaNeueLTCYR-BdCond.ttf') format('truetype'),
        url('HelveticaNeueLTCYR-BdCond.svg#HelveticaNeueLTCYR-BdCond') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue LT CYR 57 Cond';
    src: url('HelveticaNeueLTCYR-Cond.eot');
    src: url('HelveticaNeueLTCYR-Cond.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTCYR-Cond.woff2') format('woff2'),
        url('HelveticaNeueLTCYR-Cond.woff') format('woff'),
        url('HelveticaNeueLTCYR-Cond.ttf') format('truetype'),
        url('HelveticaNeueLTCYR-Cond.svg#HelveticaNeueLTCYR-Cond') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('HelveticaNeueCyr-Bold.eot');
    src: url('HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueCyr-Bold.woff2') format('woff2'),
        url('HelveticaNeueCyr-Bold.woff') format('woff'),
        url('HelveticaNeueCyr-Bold.ttf') format('truetype'),
        url('HelveticaNeueCyr-Bold.svg#HelveticaNeueCyr-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

